body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  background-color: brown;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

aside {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.link_img {
  width: 35px;
}

.link_word {
  font-size: 35px;
}